:root {
    --blue-color: #005792; 
    --primary-color: white; 
    --secondary-color: #000000; 

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.logo > img {
    width: 50px;
    height: 50px;
}

.logo > h3 {
    color: var(--primary-color);
    font-style: italic;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}

/* .header-container {
    background-color: #005792; 
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
} */

.header {
    background-color: #005792; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

/* .category_container {

    background-color: rgb(255, 106, 0);
    color: #ffffff;

    display: flex;                                        
    height: 4rem;
    justify-content: space-between;
    min-width: 1080px;

}

#category_selector_container {
    display: flex;
}

.category-sub-container {
    display: flex;
    align-items: center;
}

.category-sub-container > img {
    height: 30px;
    width: 30px;
}

.category_selector {
    background-color: rgb(255, 106, 0);
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 12px 12px 12px 12px; 
    box-sizing: border-box;
    height: 100%;
} */

.footer {
    background-color: #005792; 
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    padding: 1rem 0;
}

.searchbar {
    /* width: 40vw; */
    /* font-size: 1.5rem;
    outline: none; */
    background-color: var(--primary-color);
    display: flex;
    border-radius: 8px;
    padding-left: 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px;
}

.searchbar:has(input[type="search"]:focus) {
    box-shadow: rgb(255, 94, 0) 0px 3px 1px;
    border-color: chocolate;
}

/* Note: Some web browsers may not support :has! Add as comment */

.searchbar > input[type="search"]{
    border: none;
    width: 40vw;
    outline: none;
    font-size: 1.5rem;
    padding: 0px 8px;
}

.searchbar:hover {
    border: 1px solid var(--secondary-color);
}

.searchbar > input[type="image"] {
    display: flex;
    align-items: center;
    border: none;
}

#submitSearch {
    border: none; 
    background: url('images/search_black_24dp.svg') no-repeat; 
    width: 24px; 
    height: 24px; 
    cursor: pointer;
    margin-top: 2px;
}

.searchbar > input[type="image"] {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
}

.searchbar > input[type="image"]:hover {
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
}

.header_middle {
    display: flex;
    gap: 1rem;
    grid-row: 1;
    grid-column: 1 / -1;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
    /* grid-template-columns: 1fr 10fr; */
    align-items: flex-start;
    /* justify-content: center; */
}

.category_bar {
    display: flex;
    height: 50px;
    overflow: hidden;
}


.category_main_modal_content_sub_container:hover {
    background-color: orange;
}

.category_bar_sub {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    min-width: 0;
    padding: 12px 24px;
}

.category_bar_sub:hover {
    background-color: orange;
}

.category_bar_sub > img {
    height: 30px;
    width: 30px;
}

.categoryDropdown {
    border-radius: 8px;
    padding: 0px 6px;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 1px;
}

.categoryDropdown:hover {
    border: 1px var(--secondary-color) solid;
}

.categoryForm > select, .searchbar > input[type="submit"]{
    font-size: 1.5rem;
}

.content_bottom_row {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.brandButton, .typeButton, .seatsButton {
    padding: 12px 24px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.ctgryBtn {
    padding: 12px 24px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.ctgryBtn:hover {
    padding: 12px 24px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    background-color: orange;
}

.brandButton:hover, .typeButton:hover, .seatsButton:hover {
    padding: 12px 24px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    background-color: orange;
}

.content-side-bar {
    grid-row: 2;
    align-self: start;

    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.side_bar_panel {
    /* border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.sub_div_side_bar {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side_bar_left_side {
    align-items: center;
    gap: 1rem;
    display: flex;
}

.side_bar_left_side > img{
    width: 30px;
    height: 30px;
}

.card-container {
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 90%;
}

.card {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.car-image > img {
    width: 250px;
    height: 250px;
}

.car-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.addToCartBtn {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 12px 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


.unavailable_addToCartBtn {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
}

.unavailable_card {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: not-allowed;
    color: #888;
    opacity: 0.5;
}

.quantityInput {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 8px 12px;
}

.quantityInputAddButton, .quantityInputMinusButton {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 8px 12px;
}

.startDateInput {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 8px 12px;
}

.endDateInput {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 8px 12px;
}

.dateContainer {
    /* border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 1rem; */
}

.reservation_modal_content_container_container {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 2rem;
    border-radius: 12px;
}

/* .reservation_modal_content_container {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding: 2rem;
    border-radius: 12px;
} */

.reservation_modal_title_container {
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.reservation_modal_footer_container {
    border-top: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    margin-top: auto;
    padding: 2rem 1rem 5rem 1rem;
    display: flex;
    justify-content: space-between;

}

.addToCartBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

body {
    font-family: Arial, sans-serif;
}

.header_right {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    padding: 12px 24px;
}

.header_right:hover {
    background-color: orange;
}

.header_right > img {
    width: 35px;
    height: 35px;
}

.header_right > h3 {
    color: var(--primary-color);
    font-size: 26px;
}

@media (max-width: 1850px) {
    .category_selector {
        font-size: 18px;
        padding: 12px 20px; 
    }
}

@media (max-width: 1300px) {
    .category_selector {
        font-size: 12px;
        padding: 12px 20px; 
    }
}