* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logo > img {
    width: 50px;
    height: 50px;
}

.logo > h3 {
    color: white;
    font-style: italic;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}

/* .header-container {
    background-color: #005792; 
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
} */

.header {
    background-color: #005792; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.category_container {
    /* margin-top: 5rem; */
    background-color: rgb(255, 106, 0);
    color: #ffffff;
    /* padding: 1rem 0; */
    display: flex;                                              
    height: 4rem;
    justify-content: space-between;
}

.category_selector {
    background-color: rgb(255, 106, 0);
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 12px 32px; 
    box-sizing: border-box;
    height: 100%;
}

.footer {
    background-color: #005792; 
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem 0;
}

.searchbar {
    /* width: 40vw; */
    /* font-size: 1.5rem;
    outline: none; */
    background-color: white;
    display: flex;
    border-radius: 8px;
    padding-left: 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px;
}

.searchbar:has(input[type="search"]:focus) {
    box-shadow: rgb(255, 94, 0) 0px 3px 1px;
    border-color: chocolate;
}

/* Note: Some web browsers may not support :has! Add as comment */

.searchbar > input[type="search"]{
    border: none;
    width: 40vw;
    outline: none;
    font-size: 1.5rem;
    padding: 0px 8px;
}

.searchbar:hover {
    border: 1px solid black;
}

.searchbar > input[type="image"] {
    display: flex;
    align-items: center;
    border: none;
}

#submitSearch {
    border: none; 
    background: url('images/search_black_24dp.svg') no-repeat; 
    width: 24px; 
    height: 24px; 
    cursor: pointer;
    margin-top: 2px;
}

.searchbar > input[type="image"] {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
}

.searchbar > input[type="image"]:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.header_middle {
    display: flex;
    gap: 1rem;
}

.categoryDropdown {
    border-radius: 8px;
    padding: 0px 6px;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 1px;
}

.categoryDropdown:hover {
    border: 1px black solid;
}

.categoryForm > select, .searchbar > input[type="submit"]{
    font-size: 1.5rem;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 90%;
}

.card {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.car-image > img {
    width: 250px;
    height: 250px;
}

.car-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.addToCartBtn {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 12px 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
}


.unavailable_addToCartBtn {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
}

.unavailable_card {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: not-allowed;
    color: #888;
    opacity: 0.5;
}

.addToCartBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

body {
    font-family: Arial, sans-serif;
}

.header > img {
    width: 40px;
    height: 40px;
}